In [1]:
import pandas as pd

In [2]:
# The archive was first saved as processed in this cell and then integrated with new dates.
# After the first integration, this cell became redundant, but I am keeping it only for later reference.
# Second cell will process existing complete file (dates from 1677 onwards), needed for concatentation of new data.

# Processing database with all historic earthquakes (version not available anymore).
# Downloaded from official INFP site (The National Institute for Research and Development in Earth Physics).

cols = ['DATE', 'TIME', 'LATITUDE', 'LONGITUDE', 'DEPTH', 'Mw']
df_archive = pd.read_csv('Assets/RAW_Earthquake database 984 to 30062023.csv', usecols=cols, index_col='DATE')

df_archive.index = pd.to_datetime(df_archive.index, format='mixed', errors='coerce')
df_archive = df_archive[df_archive.index.notnull()]  # Dates older than 1677 will not convert, and choosing to ignore this at this point.

df_archive['TIME'] = pd.to_datetime(df_archive['TIME'], format='%H:%M:%S.%f').dt.time
df_archive['DEPTH'] = pd.to_numeric(df_archive['DEPTH'], errors='coerce').fillna(0)

In [3]:
# Update the file as per the last processed file with the full data
df_all = pd.read_csv('Assets/Earthquake database 01011677 to 11042025.csv', index_col='DATE', parse_dates=True)

In [4]:
# Process new earthqakes downloaded from INFP site (dates later than the newest date in the df_all dataframe)
# Link: https://ph.infp.ro/seismicity/data
cols = ['time', 'lat', 'lon', 'depth', 'magnitude']
new_earthq = pd.read_csv('Assets/RAW_events 17022025-11042025.csv', usecols=cols, index_col='time', parse_dates=True)

# In the original (historic) database, TIME and DATE were separated, so keeping it the same way.
new_earthq.insert(0, 'TIME', new_earthq.index.time, True)
new_earthq.index = pd.to_datetime(new_earthq.index.date, errors='coerce')

new_earthq.index.rename('DATE', inplace=True)
new_earthq.rename(columns={
    'lat': 'LATITUDE',
    'lon': 'LONGITUDE',
    'depth': 'DEPTH',
    'magnitude': 'Mw',
}, inplace=True)

new_earthq.sort_index(ascending=True, inplace=True)

new_earthq

                TIME  LATITUDE  LONGITUDE  DEPTH   Mw
DATE
2025-02-17  19:35:59   46.4466    21.8092    1.7  3.2
2025-02-22  03:45:44   45.6202    26.5769  103.5  3.0
2025-02-23  10:47:25   45.8627    26.8296   65.0  2.2
2025-02-25  01:21:37   45.7334    26.6179   74.7  2.7
2025-02-25  01:27:29   45.7508    26.6400   74.6  2.8
2025-02-25  02:33:00   45.5356    26.5725  118.7  3.3
2025-02-27  12:59:32   45.3808    26.1260  129.9  3.0
2025-02-28  20:17:42   45.7609    26.6491   76.3  3.3
2025-03-01  06:19:02   45.6524    27.0003   19.3  2.5
2025-03-01  14:26:24   45.3149    26.1572  123.0  2.7
2025-03-01  19:40:54   45.8118    26.7015   94.5  2.2
2025-03-02  10:53:43   45.6559    21.2965    6.1  2.2
2025-03-04  16:27:20   45.7457    26.7752   75.9  2.5
2025-03-04  23:20:58   44.2771    25.7774   14.5  2.0
2025-03-05  21:22:47   45.6217    26.5017  129.3  3.2
2025-03-05  17:28:53   44.0290    22.0910    8.2  2.1
2025-03-06  16:11:56   45.5572    26.4238  121.5  3.3
2025-03-07  07:21:02   45.9209    22.0588   10.5  2.1
2025-03-07  23:21:03   45.4482    26.3167  128.3  3.4
2025-03-09  01:14:30   45.7935    26.6347   74.6  2.4
2025-03-09  07:06:13   45.3914    26.2488  135.3  2.7
2025-03-09  10:02:15   45.6595    27.7443   16.6  2.6
2025-03-14  08:26:43   45.5426    26.5508  131.7  2.6
2025-03-14  17:46:26   45.6646    26.5543  146.4  2.8
2025-03-15  11:42:53   45.5939    26.5812  111.6  3.0
2025-03-15  17:19:23   45.8516    26.5707   82.3  2.4
2025-03-15  22:04:39   45.3499    25.3439    5.0  2.2
2025-03-15  22:24:55   45.3791    25.3398    5.0  2.3
2025-03-16  02:32:07   45.6753    27.5208   20.8  3.1
2025-03-17  02:38:14   48.1561    23.1035   14.2  2.1
2025-03-17  05:33:37   45.8076    27.1707   22.0  3.1
2025-03-18  20:01:55   45.4411    21.2925    3.0  2.6
2025-03-20  04:07:30   45.4361    26.3428  128.1  2.8
2025-03-21  01:25:50   45.6090    26.5504  134.6  2.7
2025-03-24  08:14:35   45.7048    26.6999  127.9  3.9
2025-03-28  00:40:24   45.2603    27.9648    4.2  2.1
2025-03-28  04:51:50   45.7923    26.6667   65.3  3.2
2025-03-28  08:35:43   45.6180    26.4107  116.4  2.9
2025-03-28  21:13:19   45.3559    26.0626  123.4  3.9
2025-03-29  23:34:34   44.9140    21.8501    2.0  2.1
2025-03-29  17:03:48   45.5353    26.3530  139.4  3.0
2025-03-29  22:21:21   45.7590    26.6470  101.4  2.6
2025-03-30  01:48:52   45.6687    26.6372   98.4  2.2
2025-03-30  05:52:19   45.7214    26.6238   92.0  2.9
2025-03-30  19:44:31   45.0267    28.2404    9.3  2.0
2025-03-31  00:18:36   45.4701    26.5590  111.2  2.5
2025-03-31  04:25:03   45.5859    26.5208  124.2  3.6
2025-04-01  22:29:43   45.8654    27.1515   33.9  2.9
2025-04-02  16:11:49   45.6203    26.7728  113.1  2.6
2025-04-02  21:54:05   45.7451    26.7418  138.3  2.0
2025-04-04  11:50:15   45.6395    26.6108  129.0  3.2
2025-04-04  20:14:26   45.4099    26.3265  127.0  2.7
2025-04-05  01:33:00   45.6548    26.5631  139.9  3.9
2025-04-06  01:30:16   44.5743    22.3461   16.1  2.2

In [5]:
# Concatenate existing file with the newly downloaded file
df_final = pd.concat([df_all, new_earthq])
df_final

                TIME  LATITUDE  LONGITUDE  DEPTH   Mw
DATE
1679-08-09  01:00:00   45.7000    26.6000  110.0  7.5
1681-08-19  00:00:00   45.7000    26.6000  150.0  7.1
1681-10-16  00:00:00   45.7000    26.6000  140.0  5.4
1681-10-18  00:00:00   45.7000    26.6000  130.0  5.4
1681-12-27  04:30:00   45.7000    26.6000  110.0  5.9
...              ...       ...        ...    ...  ...
2025-04-02  21:54:05   45.7451    26.7418  138.3  2.0
2025-04-04  11:50:15   45.6395    26.6108  129.0  3.2
2025-04-04  20:14:26   45.4099    26.3265  127.0  2.7
2025-04-05  01:33:00   45.6548    26.5631  139.9  3.9
2025-04-06  01:30:16   44.5743    22.3461   16.1  2.2

[37220 rows x 5 columns]

In [6]:
# Save the concatenated data by uncommenting the below line
# And by renaming the file according to the last date in your data

# df_final.to_csv('Assets/Earthquake database 01011677 to 11042025.csv')